<div class="scheduleSection">
    <h1 class="title">
        {{currentDate}}
    </h1>
    <div class="scheduleList">
        <ul>
            <h1>Sala 1</h1>
            <li *ngFor="let item of scheduleList['1']">
                <p class="name">{{item.name}}</p>
                <span><p>{{item.startTime}}-{{item.endTime}}</p></span>
                
            </li>
            
        </ul>
        <ul>
            <h1>Sala 2</h1>
            <li *ngFor="let item of scheduleList['2']">
                <p class="name">{{item.name}}</p>
                <span><p>{{item.startTime}}</p><p>{{item.endTime}}</p></span>
            </li>
            
        </ul>
        <ul >
            <h1>Sala 3</h1>
            <li *ngFor="let item of scheduleList['3']">
                <p class="name">{{item.name}}</p>
                <span><p>{{item.startTime}}</p><p>{{item.endTime}}</p></span>
            </li>
            
        </ul>
    </div>
</div>