<form #reservationForm="ngForm" (ngSubmit)="onSubmit(reservationForm)">
    <h1>Reservar horario</h1>
    <div class="input">
        <label for="startTime">Hora de Inicio</label>
        <ngx-timepicker-field
            [controlOnly]="true"
            (timeChanged)="onChangeStartTime($event, 'start')"
            name="startTime"
        ></ngx-timepicker-field>
    </div>
    <div class="input">
        <label for="endTime">Hora de Fin</label>
        <ngx-timepicker-field
            [controlOnly]="true"
            name="endTime"
            (timeChanged)="onChangeStartTime($event, 'end')"
        ></ngx-timepicker-field>
    </div>
    <div class="input">
        <label for="name">Nombre de quien reserva</label>
        <input placeholder="Nombre"
        class="nameInput"
        required
        name="name"
        #name="ngModel"
        [(ngModel)]="reservationFormModel.name"
        >
    </div>
    <span *ngIf="errorMessage" class="errorMessage">{{errorMessage}}</span>
    <button [disabled]="reservationForm.form.invalid" type="submit" >Reservar</button>
</form>