<form #reservationForm="ngForm" (ngSubmit)="onSubmit(reservationForm)">
    <h1>Reservar horario</h1>
    <ngx-timepicker-field [defaultTime]="'11:11 am'" 
        [controlOnly]="true"
        (timeChanged)="onChangeStartTime($event, 'start')"
    ></ngx-timepicker-field>
    <ngx-timepicker-field [defaultTime]="'11:11 am'" 
        [controlOnly]="true"
        (timeChanged)="onChangeStartTime($event, 'end')"
    ></ngx-timepicker-field>
    <input placeholder="Nombre"
    required
    name="name"
    #name="ngModel"
    [(ngModel)]="reservationFormModel.name"
    >
    <button type="submit" >Reservar</button>
</form>