.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: rgb(14, 154, 189);
}



body{
    display: flex;
}
.app-body{
    margin-top: 76px;
    width: 100%;
    display: flex;
    div{
        
        height: 100%;
        margin-right: auto;
        
        width: 50%;
       
    }
}


.appHeader{
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
        margin-left: 2rem;
    }
    button{
        margin-right: 2rem;
        margin-left: auto;
    }
}

