.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #0e9abd;
}
.appHeader {
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.appHeader button {
  margin-left: auto;
}
