.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #0e9abd;
}
.mat-icon {
  width: 2rem;
  height: 1.5rem;
}
.material-icons {
  font-size: 1.5rem;
}
::ng-deep.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: black;
}
::ng-deep.mat-select-value,
::ng-deep.mat-form-field-appearance-legacy .mat-form-field-label,
::ng-deep.mat-select-arrow {
  color: black;
}
::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #007daa;
}
::ng-deep.mat-primary .mat-option.mat-selected:not(.mat-option-disabled),
::ng-deep.mat-form-field.mat-focused .mat-form-field-label,
::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple,
::ng-deep.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #0ba8e0;
}
::ng-deep.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: white;
}
::ng-deep.mat-dialog-container {
  background-color: white;
  color: black;
}
body {
  display: flex;
}
.appHeader {
  position: fixed;
  width: 100%;
  background-color: white;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.appHeader .appTitle {
  font-weight: 900;
  font-size: 20px;
  margin-left: 2rem;
  text-transform: uppercase;
}
.appHeader button {
  margin-right: 2rem;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-body {
  margin-top: 76px;
  width: 100%;
  display: flex;
  position: relative;
}
.app-body div {
  height: 100%;
  margin-right: auto;
  width: 50%;
}
