.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: rgb(14, 154, 189);
}

.appHeader{
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        margin-left: auto;
    }
}

